body{


	background: url("ckb.jpeg");
	background-color: #6C6488;
	font-family: candara,calibri;
	margin: 0px;
	font-size: 18px;

}

#header{
	background-color:#6BBAA7;
	margin: 10px;
	height: 90px;
	border-radius: 5px;

}

#navbar ul{
	background-color:#6BBAA7;
	font-family: candara,calibri;
	margin: 10px;
	padding: 5px;
    border-radius: 5px;
    list-style-type: none;
    text-align: center;

}

#navbar ul li{
	display: inline;
}

#navbar ul li a{
	background-color:#6BBAA7;
	font-family: candara,calibri;
	padding: .2em 1em;
    text-decoration:none;
    text-align: center;
    color: white;

} 

#navbar ul li a:hover{
	background-color:white;
    color:#6BBAA7;

} 


.main
{
	background-color:#B6A19E;
	margin-left: 10px;
	margin-right: 320px;
	margin-top:10px;
	margin-bottom: 10px;
    border-radius: 5px;
    padding:20px;
    font-size: 110%;

}

.imagesidebar
{
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 0px;
	margin-bottom: 10px;
    border-radius: 5px;
    float:right;
    width:300px;
    clear: right;
}

.imagesidebar2
{
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 0px;
	margin-bottom: 10px;
    border-radius: 5px;
    float:center;
    width:250px;
   
}
.imagesidebar3
{
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 0px;
	margin-bottom: 10px;
    border-radius: 5px;
    float:center;
    width:300px;
   
}


#footer {
	background-color:#FBA100;
	font-family: candara,calibri;
	margin: 10px
    border-radius: 5px;
    clear: both;
    color: white;
    text-align: center;
    padding: 15px;
    font-size: 90%;
}

#footer ul{
	background-color:#FBA100;
	margin: 10px;
	padding: 5px;
    border-radius: 5px;
    list-style-type: none;
    text-align: center;
}

#footer ul li{
	display: inline;
}

#footer ul li a{
	background-color:#FBA100;
	font-family: candara,calibri;
	padding: .2em 1em;
    text-decoration:none;
    text-align: center;
    color: white;

} 

#footer ul li a:hover{
	background-color:white;
    color:#FBA100;
}

#the form{
	color: white;
	display: table;
	padding: 10px;
	background-color: #2c8F77;
	border: solid 2px black;
}

#form2{
	color: white;
	display: table;
	padding: 10px;
	background-color: #2c8F77;
	border:solid 2px black;
	float:left;
	clear:bottom;
	margin-bottom:10px;
	margin-top:10px;
	margin-right:10px;
	margin-left: 10px; 
	width:250px;
}

.row{
	display: table-row;
}

.row label{
	display: table-cell;
	padding: 2px;
}

.row input{
	display: table-cell;
	padding: 2px;
}

h1{
	font-size: 300%;
	color:red;
	text-align: center;
	font-family: century gothic,calibri;
	margin: 0px;

	position: relative;
	top: 50%;
	-webkit-transform:translateY(-50%);
		-ms-transform:translateY(-50%);
	    transform:translateY(-50%);

}

h2{
	font-size: 180%;
	color: maroon;
	text-align: center;
	font-family: century gothic,calibri,candara;
	margin: 0px;
}


